[submodule "external/libvpx"]
	path = external/libvpx
	url = http://git.chromium.org/webm/libvpx.git
[submodule "external/libwebm"]
	path = external/libwebm
	url = http://git.chromium.org/webm/libwebm.git
