[submodule "external/libvpx"]
	path = external/libvpx
	url = git://review.webmproject.org/libvpx.git
[submodule "external/libwebm"]
	path = external/libwebm
	url = git://review.webmproject.org/libwebm.git
